.contact-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.contact-wrapper h1{
    font-size: clamp(3rem, 7vw, 10rem);
    text-transform: uppercase;
}
.contact-wrapper a{
    text-decoration: none;
}
.email{
    font-size: clamp(1.3rem, 4vw, 10rem);
    font-weight: 300;
    opacity: .8;
    padding-bottom: 3vh;
}
.email:hover{
    text-decoration: underline;
}
.socials{
    display: flex;
    gap: clamp(3rem, 7vw, 7rem);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.socials{
    font-size: clamp(2rem, 4vw, 10rem);
}